@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "RubikMedium";
  src: url("../fonts/Rubik-Medium.ttf");
}
@font-face {
  font-family: "RubikNormal";
  src: url("../fonts/Rubik-Regular.ttf");
}
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
@mixin osregular {
  font-family: "OpenSansRegular";
}
@mixin ossemibold {
  font-family: "OpenSansSemiBold";
}
@mixin osbold {
  font-family: "OpenSansBold";
}
@mixin mntbold {
  font-family: "MontserratBold";
}
@mixin mntrega {
  font-family: "MontserratRegular";
}
@mixin rbkmed {
  font-family: "RubikMedium";
}
@mixin rbknrm {
  font-family: "RubikNormal";
}

#slider-range {
  & span:nth-child(2) {
    background: url("../images/left_slider.png") no-repeat !important;
    border: none;
    outline: none;
  }
  & span:nth-child(3) {
    background: url("../images/right_slider.png") no-repeat !important;
    border: none;
    outline: none;
  }
}
.ui-widget.ui-widget-content {
  height: 6px;
  border: none;
  background: #a7a7a7;
}
.ui-widget-header {
  background: #a7a7a7 !important;
}
.ui-slider .ui-slider-handle {
  z-index: 1 !important;
}
.custom-select {
  position: relative;
  padding: 0 30px 0 0;
  @include for-phone-only {
    padding: 0 27px 0 0;
  }
  &__select {
    padding: 7px 30px 7px 14px;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 3px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    font-size: 14px;
    @include osregular();
    -moz-appearance: none;
    background: url("../images/down-arrow\ 1.png") no-repeat;
    background-position: 85% 50%;

    &:focus {
      background: url("../images/up-arrow\ 1.png") no-repeat;
      background-position: 85% 50%;
    }
  }
}
.btn {
  &-request {
    background: url("../images/request_btn.png") no-repeat;
    width: 152px;
    color: #fbfbfb;
    @include ossemibold();
    height: 37px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
}
body {
  background-color: #f8f8f8;
}
* {
  margin: 0;
  padding: 0;
}
.section-inner {
  max-width: 1148px;
  margin: 0 auto;
}
.service-card {
  &-list {
    &__list {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      @include for-phone-only() {
        flex-direction: column;
      }
      @include for-tablet-portrait-up() {
        flex-wrap: wrap;
      }
    }
    &__group {
      position: relative;
      min-height: 309px;
      @include for-phone-only() {
        max-width: 269px;
        margin: 30px -16px 0 16px;
      }
      @include for-tablet-portrait-up {
        flex: 0 34%;
        margin: 50px 30px 0 0;
      }
      @include for-big-desktop-up() {
        flex: 30%;
      }
    }
    &__paragraph {
      color: #fbfbfb;
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      @include ossemibold();
      text-align: center;
      @include for-phone-only() {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        text-align: center;
      }
    }
    &__img {
      display: flex;
      margin: 43px auto 20px;
      @include for-phone-only() {
        margin: 33px auto 20px;
      }
    }
    &__number {
      font-size: 100px;
      background: #d4d4d4;
      position: absolute;
      left: -29px;
      padding: 0 34px 0 5px;
      top: -20px;
      margin: 0 0 -10px 0;
      font-family: OpenSansBold;
      z-index: 100;
      clip-path: polygon(0 0, 100% 0%, 76% 100%, 0% 100%);
      @include for-phone-only() {
        font-weight: bold;
        font-size: 70px;
        line-height: 95px;
        text-align: center;
      }
    }
    &__item {
      margin: 0 40px 0 0;
      min-height: 300px;
      padding: 30px 20px 25px;
      background: #202020;
      clip-path: polygon(100% 0, 100% 79%, 88% 100%, 0 100%, 0 0);
      @include for-phone-only() {
        margin: 0;
        padding: 30px 20px 20px;
        min-height: 242px;
      }
    }
  }
}
.default-heading-container {
  display: flex;
  align-items: center;
  margin: 70px 0 70px 0;
  @include for-phone-only() {
    margin: 60px 0 30px 16px;
  }
}
.default-heading {
  @include osbold();
  font-size: 60px;
  @include for-phone-only() {
    font-size: 28px;
  }
  &-privacy {
    @include for-phone-only {
      font-size: 24px;
    }
  }
}
.default-separator {
  margin: 0 20px 0 0;
  width: 87px;
  height: 4px;
  display: block;
  background: #202020;
  @include for-phone-only() {
    width: 42px;
    height: 4px;
  }
}
.section-header {
  &-footer {
    margin: 200px 0 0 0;
    display: flex;
    justify-content: flex-end;
    &-container {
      display: flex;
      align-items: baseline;
      &__heading {
        color: #fbfbfb;
        font-size: 40px;
        @include ossemibold();
      }
      &__span {
        font-size: 20px;
        @include ossemibold();
        color: rgba(255, 255, 255, 0.5);
        margin: 0 0 0 10px;
      }
      &-prevArrow {
        background: url("../images/header-slider-arrow-next.png");
        width: 21px;
        transform: rotate(180deg);
        height: 21px;
        margin: 0 30px 0 0;
        &--inactive {
          background: url("../images/header-slider-arrow-next-inactive.png");
          transform: rotate(0);
        }
      }
      &-nextArrow {
        background: url("../images/header-slider-arrow-next.png");
        width: 21px;
        margin: 0 0 0 30px;
        height: 21px;
        &--inactive {
          background: url("../images/header-slider-arrow-next-inactive.png");
          transform: rotate(180deg);
        }
      }
    }
  }
  &-inner {
    max-width: 1140px;
    margin: 0 auto;
    @include for-phone-only() {
    }
  }

  &__dots {
    right: 0;
    margin: -46px 0 0 0;
    display: flex;
    align-items: flex-end;
    position: absolute;
    flex-direction: column;
    &-line {
      width: 1px;
      height: 161px;
      display: block;
      position: absolute;
      right: 50%;
      top: 35%;
      &--bottom {
        width: 1px;
        height: 161px;
        display: block;
        position: absolute;
        right: 50%;
        top: 69%;
      }
    }

    &-item {
      width: 6px;
      height: 6px;
      display: block;
      background: #fbfbfb;
      border-radius: 50%;
    }
    & ul {
      list-style-type: none;

      & li {
        box-sizing: border-box;
        border-radius: 50%;
        padding: 10px;
        margin: 190px 0 0 0;
      }
      & li.slick-active {
        border: 1px solid rgba(251, 251, 251, 0.4);
      }
    }
  }
  &-main {
    padding: 130px 0 0 0;
    @include for-phone-only() {
      padding: 130px 0 0 15px;
    }
    @include for-tablet-portrait-up() {
      padding: 130px 0 0 15px;
    }
    &-top {
      display: flex;
      align-items: center;
    }
    &__line {
      width: 87px;
      height: 4px;
      display: block;
      background: #fbfbfb;
      @include for-phone-only() {
        width: 42px;
        height: 4px;
      }
    }
    &__paragraph {
      font-size: 40px;
      @include mntrega();
      color: #fbfbfb;
      @include for-phone-only() {
        font-size: 18px;
        padding: 25px 0 0 0;
      }
    }
    &__heading {
      &--transparent {
        -webkit-text-stroke: 2px #fbfbfb;
        font-size: 120px;
        color: transparent;
        @include mntbold();
        @include for-tablet-portrait-up() {
          font-size: 80px;
        }
        @include for-phone-only() {
          font-size: 55px;
        }
      }
      &--white {
        font-size: 120px;
        color: #fbfbfb;
        @include mntbold();
        @include for-tablet-portrait-up() {
          font-size: 50px;
        }
        @include for-phone-only() {
          font-size: 34px;
        }
      }
    }
  }
  &-content {
    position: relative;
    display: flex;

    @include for-phone-only() {
      justify-content: space-between;
    }
    @include for-tablet-portrait-up() {
      justify-content: space-between;
    }
    &-mobile-menu {
      visibility: hidden;

      @include for-tablet-portrait-up() {
        display: none;
      }
      &--index {
        width: 79%;
      }
      background: #202020;
      position: absolute;
      z-index: 1000;
      width: 100%;
      transition: 0.5s all ease-in;

      transform: translateX(126%);
      height: 100%;
      &--close {
        display: flex;
        padding: 62px 0 0 64%;
      }
      &.active {
        visibility: visible;
        transform: translateX(26%);
        transition: 0.5s transform ease-in;
        height: 100vh;
      }
      &__list {
        padding: 10px 0 0 50px;
      }
      &__item {
        margin: 30px 0 0 0;
      }
      &__link {
        &__list {
          display: flex;
          flex-direction: column;
        }
        color: #fbfbfb;
        @include ossemibold();
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
    &-menu {
      transition: 0.3s ease-in;

      &-btn {
        z-index: 10000;
        transition: 0.3s ease-in;

        &.active {
          transition: 0.3s ease-in;

          & .menu-top {
            width: 22px;
            height: 3px;
            display: block;
            background: #fff;
            transform: rotate(45deg);
            transition: 0.3s ease-in;
          }
          & .menu-middle {
            width: 22px;
            height: 3px;
            display: block;
            background: #fff;
            transform: translateY(-8px) rotate(-45deg);
            transition: 0.3s ease-in;
          }
          & .menu-bottom {
            display: none;
          }
        }
        @include for-tablet-landscape-up() {
          display: none;
        }
        padding: 30px 16px 0 0;
        & .menu-top {
          width: 22px;
          height: 3px;
          display: block;
          background: #fff;
          transition: 0.3s ease-in;
        }
        & .menu-middle {
          width: 22px;
          height: 3px;
          display: block;
          background: #fff;
          margin: 5px 0 5px 0;
          transition: 0.3s ease-in;
        }
        & .menu-bottom {
          width: 22px;
          height: 3px;
          display: block;
          background: #fff;
          transition: 0.3s ease-in;
        }
      }
    }
    &-logo {
      margin: -16px 0 0 0;
      @include for-phone-only {
        margin: -15px 0 0 -4px;
      }
    }
    &-nav {
      @include for-phone-only() {
        display: none;
      }
      @include for-tablet-portrait-up() {
        display: none;
      }
      @include for-tablet-landscape-up() {
        display: block;
      }
      &__list {
        justify-content: center;
        margin: 25px 0 0 0;
        display: flex;
        list-style: none;
      }
      &__item {
        margin: 0 35px 0 0;
      }
      &__link {
        color: #fbfbfb;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 0 20px 0;
        &:hover {
          border-bottom: 4px solid #fff;
        }
      }
    }
    &-phone {
      @include for-phone-only() {
        display: none;
      }
      @include for-tablet-portrait-up() {
        display: none;
      }
      @include for-big-desktop-up() {
        display: flex;
      }
      position: relative;
      margin: 21px 0 0 0;
      display: flex;
      flex-direction: column;
      &__link {
        @include ossemibold();
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #fbfbfb;
      }
    }
  }
  &-outer {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    &-slide {
      height: 100vh !important;

      @include for-tablet-portrait-up() {
        height: 80vh !important;
      }
      @include for-tablet-landscape-up() {
        height: 62vh !important;
      }
      @include for-desktop-up() {
        height: 82vh !important;
      }
      &--1 {
        background: url("../images/banner1.png") no-repeat;
      }
      &--2 {
        background: url("../images/banner2.png") no-repeat;
      }
      &--3 {
        background: url("../images/banner3.png") no-repeat;
      }
    }
  }
}

.section-header-typical {
  max-height: 77px;
  &-outer {
    background: #232224;
  }
  &-inner {
    max-width: 1140px;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    &-logo {
      margin: -14px 0 0 0;
      @include for-phone-only() {
        margin: -14px 0 0 -3px;
      }
      & img {
        @include for-phone-only() {
          width: 79%;
        }
      }
    }
  }
  &-nav {
    @include for-phone-only() {
      display: none;
    }
    margin: 25px 0 0 0;
    &__list {
      display: flex;
    }
    &__item {
      margin: 0 35px 0 0;
      list-style-type: none;
    }
    &__link {
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
      color: #fbfbfb;
    }
    &-phone {
      @include for-phone-only() {
        display: none;
      }
      margin: 22px 0 0 0;
      &__link {
        color: #fbfbfb;
        text-decoration: none;
        @include ossemibold();
        font-size: 20px;
      }
      &__request {
        font-size: 12px;
        display: flex;
        color: #fbfbfb;
        justify-content: flex-end;
      }
    }
  }
}

.section-advantages {
  padding: 0 0 300px 0;
  @include for-phone-only() {
    padding: 0 0 50px 0;
  }
  @include for-tablet-portrait-up() {
    padding: 0 0 100px 0;
  }
  &-outer {
    background: url("../images/advantages-background.png") no-repeat;
    background-size: cover;
  }
  &-inner {
  }
  &-content {
    &-heading {
      margin: 75px 0 75px 0;
      display: flex;
      align-items: center;
      @include for-phone-only() {
        padding: 50px 0 0 16px;
        margin: 0 0 30px 0;
      }
      &__line {
        margin: 0 20px 0 0;
        width: 87px;
        height: 4px;
        background: #202020;
        @include for-phone-only() {
          width: 42px;
          height: 4px;
        }
      }
      &__heading {
        font-size: 60px;
        @include for-phone-only() {
          font-size: 28px;
        }
      }
    }
    &-list {
      &__list {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @include for-phone-only() {
          flex-direction: column;
        }
        @include for-tablet-portrait-up() {
          margin: 0 0 0 80px;
          flex-wrap: wrap;
        }
      }
      &__group {
        position: relative;
        @include for-phone-only() {
          max-width: 269px;
          margin: 30px 0 0 0;
        }
        @include for-tablet-portrait-up {
          flex: 0 34%;
          margin: 50px 30px 0 0;
        }
        @include for-big-desktop-up() {
          flex: 0;
        }
      }
      &__paragraph {
        color: #fbfbfb;
      }
      &__img {
        margin: 0 auto;
        display: flex;
      }
      &__number {
        font-size: 49px;
        background: #d4d4d4;
        position: absolute;
        left: -20px;
        padding: 5px 21px 0 5px;
        top: -20px;
        margin: 0 0 -10px 0;
        font-family: OpenSansBold;
        z-index: 100;
        clip-path: polygon(0 0, 100% 0%, 76% 100%, 0% 100%);
      }
      &__item {
        margin: 0 40px 0 0;
        padding: 30px 34px 25px;
        background: #202020;
        clip-path: polygon(100% 0, 100% 79%, 88% 100%, 0 100%, 0 0);
      }
    }
  }
}

.section-hot {
  padding: 0 0 292px 0;
  background: #fff;
  @include for-tablet-portrait-up() {
    padding: 100px 0 200px 0;
  }
  &-outer {
    & .slick-track {
      padding: 0 0 30px 0;
    }
    &-list {
      display: flex;
      @include for-phone-only() {
        flex-direction: column;
        align-items: center;
      }
      &__dots {
        display: flex;
        list-style-type: none;
        justify-content: center;
        &-controls {
          display: flex;
          align-items: center;
          justify-content: center;
          @include for-phone-only() {
            display: none;
          }
        }
        &-arrow-prevArrow {
          background: url("../images/arrow-prev.png");
          width: 30px;
          height: 30px;
          position: relative;
          margin: 0 70px 0 0;
        }
        &-arrow-nextArrow {
          background: url("../images/arrow-next.png");
          width: 30px;
          height: 30px;
          position: relative;
          margin: 0 0 0 20px;
        }
        & .slick-active {
          width: 22px;
          display: inline-block;
          border-radius: 100%;
          margin: 0 42px 0 0;
          height: 22px;
          border: 1px solid rgba($color: #000000, $alpha: 0.2);
        }
        &-item {
          width: 6px;
          justify-content: center;
          display: flex;
          border-radius: 100%;
          align-items: center;
          margin: 9px 45px 3px 8px;
          height: 6px;
          background: #202020;
        }
        & li {
          display: flex;
          align-items: center;
          & button {
            width: 6px;
            height: 6px;
            font-size: 0;
            background: #000;
            border-radius: 50%;
            border: none;
            outline: none;
            margin: 0 42px 0 0;
          }
        }
      }
      &-item {
        margin: 0 20px 0 0;
        display: flex;
        max-width: 367px;
        flex-direction: column;
        position: relative;
        box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.55);
        @include for-phone-only() {
          max-width: 288px;
          margin: 30px 0 0 0;
          &:first-child {
            margin: 0;
          }
        }

        &__price {
          position: absolute;
          padding: 6px 12px;
          background: #f8f8f8;
          @include osregular();
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          margin: 16px;
        }
        &__like {
          position: absolute;
          right: 0;
          padding: 23px 30px;
        }
        &-separator {
          background: rgba(0, 0, 0, 0.2);
          width: 1px;
          height: 20px;
          @include for-phone-only {
            margin: 0 4px;
          }
        }
        &-desc {
          padding: 16px;
          background: url(../images/product-item-bottom.png) no-repeat;
          width: 90%;
          height: 100%;
          background-position: 93% 97%;
          @include for-phone-only {
            padding: 0 13px 17px;
          }
          &__price {
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.3);
          }
        }
        &-properties {
          display: flex;
          @include for-phone-only {
            padding: 14px 0 0 0;
            align-items: center;
          }

          justify-content: space-between;
          &__id {
            display: flex;
            align-items: center;
            & span {
              @include rbknrm();
              font-size: 14px;
              color: #202020;
            }
            &-title {
              @include osregular();
              font-size: 20px;
              padding: 0 10px 0 0;
              color: rgba(0, 0, 0, 0.4);
              @include for-phone-only {
                padding: 0 5px 0 0;
                font-size: 16px;
              }
            }
          }
          &__square {
            display: flex;
            align-items: center;
            & span {
              font-size: 14px;
              @include rbknrm();
              padding: 0 0 0 4px;
            }
          }
          &__ladder {
            display: flex;
            align-items: center;
            & span {
              @include rbknrm();
              padding: 0 0 0 4px;
            }
          }
        }
      }
    }
  }
}
.section-about {
  padding: 0 0 100px 0;
  &-outer {
    &-list {
      &__dots {
        &-controls {
          position: absolute;
          display: flex;
          align-items: center;
          bottom: 0;
          right: 200px;
          justify-content: flex-end;
          @include for-phone-only() {
            display: none;
          }
        }
        &-arrow {
          &-prevArrow {
            margin: 0 20px 0 0;
            width: 25px;
            height: 25px;
            background: url("../images/about-arrow-prev.png") no-repeat;
            &--active {
              background: url("../images/about-arrow-nexst.png") no-repeat;
              width: 25px;
              height: 25px;
              transform: rotate(180deg);
            }
          }
          &-nextArrow {
            margin: 0 0 0 20px;
            width: 25px;
            height: 25px;
            background: url("../images/about-arrow-nexst.png") no-repeat;
            &--inactive {
              background: url("../images/about-arrow-prev.png") no-repeat;
              transform: rotate(180deg);
              margin: 0 20px 0 0;
              width: 25px;
              height: 25px;
            }
          }
        }
        &-number {
          &--active {
            @include osbold();
            font-size: 40px;
            margin: 0 10px 0 0;
          }
          &--inactive {
            @include ossemibold();
            margin: 0 0 0 5px;
            font-size: 20px;
            color: rgba(#202020, 0.3);
          }
        }
        .slick-active {
          display: block;
        }
        li {
          display: none;
        }
      }
    }
  }
  &-content {
    position: relative;
    &-main {
      &-item {
        display: flex !important;
        @include for-phone-only() {
          flex-direction: column;
        }
        &-desc {
          padding: 50px;
          @include osregular();
          font-size: 16px;
          background: #fff;
          @include for-phone-only() {
            order: 2;
          }
        }
        &-image {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          left: -20px;
          @include for-phone-only() {
            left: 0;
            top: 20px;
            order: 1;
          }
          &__img {
            @include for-phone-only() {
              width: 100%;
              max-width: 288px;
            }
          }
        }
      }
    }
  }
}
.section-footer {
  background: #202020;
  &-content {
    &-main {
      padding: 50px 0 50px 0;
      display: flex;
      @include for-phone-only() {
        flex-direction: column;
      }
      @include for-tablet-portrait-up() {
        margin: 0 0 0 29px;
      }
      &-logo {
        min-width: 220px;
        @include for-phone-only() {
          order: 3;
          text-align: center;
        }
        &-desc {
          &__link {
            margin: 20px 0 8px 0;
            color: rgba(#fbfbfb, 0.5);
            text-decoration: none;
          }
          text-decoration: none;
          display: flex;
          flex-direction: column;
          color: rgba(#fbfbfb, 0.5);
        }
      }
      &-nav {
        margin: 0 258px 0 278px;
        display: flex;
        flex-direction: column;
        @include for-phone-only() {
          margin: 0;
          align-items: center;
          order: 1;
        }
        @include for-tablet-portrait-up() {
          margin: 0px 90px 0 70px;
        }
        @include for-desktop-up() {
          margin: 0px 278px 0 312px;
        }
        &__link {
          margin: 25px 0 0 0;
          color: #fbfbfb;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
      &-contacts {
        display: flex;
        flex-direction: column;
        @include for-phone-only() {
          align-items: center;
          margin: 30px 0 0 0;
          order: 2;
        }
        &__link {
          text-decoration: none;
          color: #fbfbfb;
          @include ossemibold();
          font-size: 20px;
        }
        &__crm {
          @include osregular();
          font-size: 14px;
          color: rgba(#fbfbfb, 0.5);
          margin: 20px 0 0 0;
          @include for-phone-only() {
            text-align: center;
            max-width: 188px;
          }
        }
        &__btn {
          margin: 16px 0 0 0;
        }
      }
    }
  }
}
.section-services {
  &-inner {
    padding: 78px 0 50px 0;
  }
  &-content {
    &-service {
      background: url("../images/service.png");
      width: 367px;
      height: 367px;
    }
  }
}
.section-owners {
  &-inner {
    padding: 76px 0 50px;
    @include for-phone-only() {
      padding: 50px 0 50px;
    }
  }
  &-content {
    &-card {
      // max-height: 256px;
      display: flex;
      position: relative;
      margin: 51px 0 0 0;
      flex-direction: row;
      &--reverse {
        flex-direction: row-reverse;
        margin: 122px 0 0 0;
      }
      @include for-phone-only() {
        // max-height: 100%;
        flex-direction: column;
        margin: 30px 0 0 0;
      }
      &-text {
        background: #fbfbfb;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */
        color: #202020;
        padding: 50px 50px 0;
        @include osregular();
        @include for-phone-only() {
          order: 2;
          padding: 60px 16px;
        }
        &--reverse {
          @include for-phone-only() {
            padding: 60px 16px;
          }
        }
      }
      &-image {
        position: relative;
        top: 62px;
        &__backtext {
          font-size: 120px;
          line-height: 163px;
          text-transform: uppercase;
          right: 0;
          position: absolute;
          @include osbold();
          -webkit-text-stroke: 2px rgba($color: #000000, $alpha: 0.1);
          z-index: -1;
          color: transparent;
          top: -85px;
          @include for-phone-only() {
            display: none;
          }
        }

        right: 26px;
        @include for-phone-only() {
          top: 36px;
          right: 0;
          order: 1;
          padding: 0 16px;
        }
        &__img {
          @include for-phone-only() {
            width: 100%;
          }
        }
        &--reverse {
          right: -26px;
          top: -73px;
          @include for-phone-only() {
            top: 0;
            top: 36px;
            padding: 0 16px;
            right: 0;
          }
        }
      }
    }
  }
}
.section-team {
  padding: 0 0 100px 0;
  @include for-phone-only() {
    padding: 0 8px 100px 15px;
  }
  &-content {
    &-list {
      display: flex;
      @include for-phone-only() {
        flex-direction: column;
        align-items: center;
      }

      &-member {
        margin: 0 20px 0 0;
        @include for-phone-only() {
          margin: 20px 0 0 0;
        }
        &-photo {
          display: flex;
          flex-direction: column;
          align-self: center;
          position: relative;
          &__name {
            position: absolute;
            z-index: 1000;
            bottom: 4%;
            right: 12%;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            @include osregular();
          }
        }
      }
    }
  }
}
.section-requisites {
  background: #fff;
  padding: 100px 0 100px 0;
  &-content {
    padding: 0 16px;
    &-requisite {
      display: flex;
      align-items: center;
      margin: 0 0 16px 0;
      @include for-phone-only() {
        flex-direction: column;
        margin: 20px 0 0 0;
        align-items: baseline;
        &:first-child {
          margin: 0;
        }
      }

      &__prop {
        font-size: 16px;
        line-height: 22px;
        @include osregular();
        color: #8f8f8f;
        margin: 0 123px 0 0;
        min-width: 167px;
        @include for-phone-only() {
          margin: 0 0 6px 0;
        }
      }
      &__value {
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */

        color: #000000;
      }
    }
  }
}
.section-service-item {
  padding: 75px 0 87px 0;
  &__heading {
    font-size: 24px;
    @include osbold();
    max-width: 657px;
    @include for-phone-only() {
      padding: 0 0 0 16px;
    }
  }
  &-inner {
  }
  &-content {
    &-btn {
      display: flex;
      margin: 64px 0 0 290px;
      @include for-phone-only() {
        margin: 20px 0 0 0;
        justify-content: center;
      }
      &__btn {
        background: url("../images/service-item-btn.png") no-repeat;
        width: 173px;
        display: flex;
        justify-content: center;
        color: #fff;
        align-items: center;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
        height: 38px;
      }
    }
  }
}
.section-404 {
  &-footer {
    flex-shrink: 0;
  }
  &-nav {
    margin: 0 0 30px 0;
    @include for-desktop-up() {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  &-link {
    color: #202020;
    font-size: 16px;
    @include ossemibold();
    text-align: center;
    text-transform: uppercase;
    @include for-desktop-up() {
      padding: 0 40px 0;
    }
  }
  &-content {
    padding: 0 16px 0;
    &-main {
      padding: 0 0 30px 0;
    }
    &__heading {
      font-size: 150px;
      line-height: 204px;
      text-align: center;
      color: #000000;
      @include osbold();
    }
    &__text {
      font-size: 16px;
      line-height: 24px;
      /* or 150% */
      padding: 0 0 112px;
      text-align: center;
      margin: 0 auto;
      max-width: 754px;

      color: #8f8f8f;
      @include osregular();
    }
  }
}

.section-product {
  padding: 30px 0 30px 0;
  order: 1;
  display: flex;
  & .slider-main {
    margin: 0 0 10px 0;
    & img {
      width: 100%;
    }
  }
  & .slider-nav {
    & figure {
      margin: 0 10px 0 0;
    }
    & img {
      width: 100%;
    }
  }
  &-inner {
    max-width: 693px;
    @include for-phone-only {
      max-width: 100vw;
    }
  }
  &-outer {
  }
  &-content {
    background: #fff;

    padding: 30px 30px;
    @include for-phone-only {
      padding: 20px 16px;
    }

    &-item {
      &-images {
        & .slick-slide {
        }
      }
      &-title {
        &__title {
          font-size: 24px;
          color: #202020;
          @include osbold();
        }
        &-address {
          display: flex;
          align-items: center;
          padding: 0 0 30px 0;

          &__title {
            font-size: 16px;
            color: #202020;
            @include osregular();
            margin: 0 10px 0 0;
            @include for-phone-only {
              margin: 0 0 0 0;
            }
          }
          &__link {
            color: #2b87db;
            font-size: 14px;
            @include osregular();
            @include for-phone-only {
              display: none;
            }
          }
        }
      }
      &-desc {
        &__container {
          display: flex;
          margin: 50px 0 50px 0;
        }
        &-square {
          &__title {
            @include rbkmed();
            font-size: 24px;
          }
          &__text {
            @include osregular();
            font-size: 16px;
            color: #8f8f8f;
          }
        }
        &-floor {
          margin: 0 75px;
          @include for-phone-only {
            margin: 0 25px;
          }
          &__title {
            @include rbkmed();
            font-size: 24px;
            font-weight: 500;
          }
          &__text {
            @include osregular();
            font-size: 16px;
            color: #8f8f8f;
          }
        }
        &-floorLimit {
          &__title {
            @include rbkmed();
            font-size: 24px;
          }
          &__text {
            @include osregular();
            font-size: 16px;
            color: #8f8f8f;
          }
        }
        &-separator {
          background: #e7e7e7;
          width: 100%;
          height: 1px;
        }
        &-address {
          margin: 50px 0 0 0;
          &__title {
            font-size: 24px;
            color: #202020;
            margin: 0 0 14px 0;

            @include ossemibold;
          }
        }
        &-desc {
          &__title {
            font-size: 24px;
            @include osregular();
            @include for-phone-only {
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
        &-socials {
          margin: 30px 0 0;
          &__link {
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
  &-footer {
    margin: 15px 0 0 0;
  }
}
.section-product-map {
  padding: 0 0 20px 0;
  @include for-phone-only {
    max-width: 100vw;
  }
  &-inner {
    background: #fff;
    max-width: 753px;
    &__title {
      @include osregular();
      font-size: 16px;
      padding: 30px 0 30px 30px;
      @include for-phone-only {
        padding: 30px 16px;
      }
    }
  }
  &-content {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
    padding: 0 0 45px 0;
  }
}
.section-similiar {
  background: #fff;
  padding: 0 0 30px 0;
  margin: 0 0 20px 0;
  &-outer {
  }
  &-content {
    &__heading {
      padding: 30px 0 30px 0;
      font-size: 24px;
      @include osregular();
      @include for-phone-only {
        padding: 30px 16px 20px;
      }
    }
    &-list {
      display: flex;
      @include for-phone-only {
        padding: 0px 16px;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.section-seller {
  margin: 0 0 0 15px;
  order: 2;
  @include for-phone-only {
    order: 2;
    margin: 0;
  }
  &-row {
    display: flex;
    max-width: 1106px;
    margin: 0 auto;
    @include for-phone-only {
      flex-direction: column;
    }
  }
  &-inner {
    max-width: 367px;
    padding: 30px 0 30px;
  }
  &-content {
    background: #fff;
    padding: 30px 0 30px 0;
    &__number {
      @include ossemibold;
      font-size: 16px;
      color: #202020;
    }
    &-desc {
      display: flex;
      align-items: center;
    }
    &__price {
      padding: 0 87px 0 30px;
      color: #382525;
      font-size: 24px;
      @include osbold;
      @include for-phone-only {
        padding: 0 68px 0 16px;
      }
    }
    &__id {
      font-size: 20px;
      padding: 0 10px 0 0;
      opacity: 0.11;
      @include osregular();
      color: rgba(0, 0, 0, 0.4);
    }
    &__meterPrice {
      color: #8f8f8f;
      @include osregular();
      font-size: 16px;
      margin: 0 0 20px 30px;
      @include for-phone-only {
        padding: 0 0 0 16px;
        margin: 0 0 20px 0;
      }
    }
    &-profile {
      display: flex;

      &-info {
        display: flex;
        flex-direction: column;
        padding: 45px 0 0 0;
        &__number {
          color: #2b87db;

          font-size: 16px;
          @include osregular();
        }
      }
      &__avatar {
        padding: 45px 20px 0 30px;
        @include for-phone-only {
          padding: 45px 16px 30px;
        }
      }
      &-contacts {
        padding: 30px 0 0 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        @include for-phone-only {
          padding: 0 16px;
        }
        &__btn {
          background: url(../images/product-item-btn.png) no-repeat;
          width: 190px;
          height: 37px;
          color: #fbfbfb;
          display: flex;
          font-family: "OpenSansSemiBold";
          font-size: 16px;
          justify-content: center;
          margin: 20px 0 10px 0;
          align-items: center;
        }
        &__input {
          border: 1px solid rgba($color: #000000, $alpha: 0.1);
          border-radius: 3px;
          padding: 7px 122px 7px 14px;
          @include for-phone-only {
            padding: 7px 104px 7px 14px;
          }

          &::placeholder {
            color: #b3b3b3;
            font-size: 14px;
            @include osregular();
          }
        }
        &__privacy {
          text-align: center;
          color: #8f8f8f;
          font-size: 12px;
          @include osregular();
          &-link {
            color: #2b87db;
            font-size: 12px;
            @include osregular();
            text-decoration: none;
          }
          @include for-phone-only {
            padding: 0 16px;
            margin: 10px 0 0 0;
          }
        }
      }
    }
  }
}
.section-map {
  &-outer {
    position: relative;
    &-box {
      background: url(../images/mapbox.png) no-repeat;
      width: 391px;
      height: 223px;
      display: block;
      padding: 30px 0 0 0;
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      top: 20%;
      right: 25%;
      @include for-phone-only {
        position: relative;
        background: url(../images/small-map-box.png) no-repeat;
        background-size: 100% 100%;
        top: 97px;
        width: 288px;
        margin: 0 auto;
        height: 248px;
        padding: 20px 15px;
        right: 3px;
      }
      &-container {
        max-width: 320px;
        @include for-phone-only {
          padding: 20px 15px 0;
        }
        &-btn {
          margin: 0;
          display: flex;
          justify-content: center;
          &__btn {
            background: url("../images/map-btn.png") no-repeat;
            display: flex;
            justify-content: center;
            width: 152px;
          }
        }
      }
      &-props {
        display: flex;
        &__prop {
          @include osregular();
          font-size: 16px;
          color: rgba(251, 251, 251, 0.5);
          margin: 0 20px 0 0;
          min-width: 70px;
        }
      }
      &-values {
        display: flex;
        &__value {
          @include osregular();
          font-size: 16px;
          color: #fbfbfb;
          margin: 0 0 20px 0;
          @include for-phone-only {
            max-width: 167px;
          }
        }
      }
    }
  }
}
.section-filters {
  padding: 56px 0 39px 0;
  &-outer {
    background: #fff;
  }
  &-inner {
  }
  &-content {
    &-sort {
      @include for-phone-only {
      }
    }
    &-show {
      &__btn {
        background: url("../images/filtres_btn.png") no-repeat;
        width: 115px;
        height: 37px;
        color: #fbfbfb;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 30px;
        @include for-phone-only {
          margin: 20px 0 0 70px;
        }
      }
    }
    &-type {
      padding: 0 0 0 30px;
      display: flex;
      &__choose {
        padding: 7px 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        &.active {
          background: #f4f4f4;
        }
      }
      @include for-phone-only {
        flex-wrap: wrap;
        padding: 0;
      }
    }
    &-house {
      padding: 0 0 0 30px;
      &__input {
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 3px;
        max-width: 70px;
        padding: 7px 15px 7px 14px;
      }
      @include for-phone-only {
        position: absolute;
        top: 68%;
        right: 10%;
      }
      @media (max-width: 375px) {
        position: absolute;
        top: 58%;
        right: 22%;
      }
      @media (max-width: 414px) {
        position: absolute;
        top: 61%;
        right: 10%;
      }
    }
    &-controls {
      &--hidden {
        margin: 20px 0 0 0;
        display: none;
        &.active {
          display: block;
        }
      }
      &-street {
        @include for-phone-only {
          margin: 0 0 20px 0;
        }
        &__label {
          padding: 0 10px 0 0;
        }

        &__input {
          border: 1px solid rgba(0, 0, 0, 0.1);
          box-sizing: border-box;
          border-radius: 3px;
          max-width: 314px;
          padding: 7px 186px 7px 14px;
          @include for-phone-only {
            max-width: 288px;
            padding: 7px 157px 7px 14px;
          }
        }
      }
    }
    &-floor {
      display: flex;
      align-items: center;
      @include for-phone-only {
        position: absolute;
        top: 45%;
        right: 7%;
      }
      @media (max-width: 375px) {
        position: absolute;
        top: 39%;
        right: 21%;
      }
      @media (max-width: 414px) {
        position: absolute;
        top: 35%;
        right: 10%;
      }
      &-limit {
        display: flex;
        align-items: center;
        margin: 0 0 0 30px;
        @include for-phone-only {
          margin: 20px 0 0 0;
        }
      }
      &__text {
        padding: 0 10px 10px 0;
        font-size: 14px;
        @include osregular();
      }
      &__input {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 7px 14px;
        font-size: 14px;

        max-width: 24px;
        margin: 0 0 10px 0;
        &:first-of-type {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
        &:last-of-type {
          border-top-right-radius: 3px;
          border-bottom-left-radius: 3px;
        }
      }
    }
    &-square {
      display: flex;
      align-items: center;
      @include for-phone-only {
        flex-wrap: wrap;
      }
      &__text {
        @include osregular();
        font-size: 14px;
        margin: 0 10px 10px 0;
        @include for-phone-only {
          margin: 0 70px 10px 0;
        }
        @media (max-width: 375px) {
          margin: 0 120px 10px 0;
        }
        @media (max-width: 414px) {
          margin: 0 160px 10px 0;
        }
      }
    }
    &-all {
      margin: 0 30px 0 30px;
      @include for-phone-only {
        margin: 20px 181px 0 0;
      }
    }
    &-allFiltres {
      &__type-link {
        margin: 8px 0px 0px 10px;
        @include for-phone-only {
          display: flex;
          align-items: center;
          margin: 0 0 0 14px;
        }
      }
      @include for-phone-only {
        display: flex;
        margin: 16px 0 0 0;
      }
      &__link {
        color: #2b87db;
        @include osregular();
        font-size: 14px;
        text-decoration: none;
      }
    }
    &-planning {
      display: flex;
      align-items: center;
      margin: 0 0 9px 30px;
      @include for-phone-only {
        margin: 0 122px 0 0;
      }
    }
    &-price {
      margin: 18px 0 0 21px;
      &__input {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 7px 14px;
        font-size: 14px;
        max-width: 78px;
        margin: 0 0 10px 0;
        &:first-child {
          margin: 0 150px 0 0;
          @include for-phone-only {
            margin: 0 54px 0 -21px;
          }
        }
        &::placeholder {
          font-size: 14px;
          color: rgba($color: #000000, $alpha: 0.3);
          @include osregular();
        }
      }
    }
    &-controls {
      display: flex;
      align-items: center;
      &:nth-child(2) {
        margin: 20px 0 -0 0;
      }
      @include for-phone-only {
        flex-wrap: wrap;
        padding: 0 22px;
      }
    }
    &-place {
      display: flex;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      border-radius: 3px;
      padding: 7px 14px;

      &__choose {
        &:first-child {
          margin: 0 14px 0 0;
        }
        &:last-child {
          margin: 0 0 0 14px;
        }
      }
      &__separator {
        position: absolute;
        margin: 0 14px;
        background: rgba(0, 0, 0, 0.1);
        width: 1px;
        height: 32px;
        right: 40%;
        display: block;
        top: 0px;
      }
    }
  }
}
.section-flat {
  padding: 0 0 75px 0;
  .sort-select {
    padding: 11px 30px 7px 14px;
  }
  background: #fff;
  &-content {
    &-list {
      margin: 50px 0 0 0;
      display: flex;
      @include for-phone-only {
        flex-direction: column;
        align-items: center;
      }
    }
    &-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include for-phone-only {
        flex-direction: column;
      }

      &--right {
        display: flex;
        @include for-phone-only {
          flex-direction: column;
          margin: 15px 0 0 0;
        }
      }
      &-map {
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 3px;
        padding: 9px 14px;
        margin: 0 20px 0 0;
        @include for-phone-only {
          margin: 0 0 10px 0;
        }
      }
    }
  }
  &-pagination {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    &__item {
      @include osregular();
      font-size: 16px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      border-radius: 3px;
      box-sizing: border-box;
      border-radius: 3px;
      margin: 0 8px 0 0;
      padding: 6px 12px;
      &.active {
        border: 1px solid #202020;
      }
      &--number {
        @include for-phone-only {
          &:nth-last-child(-n + 3) {
            display: none;
          }
        }
      }
    }
  }
}
.hidden {
  display: none;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  &-metro {
    background: #fff !important;
  }
  &-checkbox {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;

    & input[type="checkbox"] + label {
      display: block;
      margin: 0.2em;
      cursor: pointer;
      padding: 0.2em;
    }

    & input[type="checkbox"] {
      display: none;
    }

    & input[type="checkbox"] + label:before {
      content: "";
      border: 1px solid #e3e3e3;
      box-sizing: border-box;
      border-radius: 2px;
      display: inline-block;
      width: 20px;
      height: 14px;
      padding: 0px 12px 17px 5px;
      margin-right: 0.2em;
      vertical-align: bottom;
      color: transparent;
      background: #fff;
      transition: 0.2s;
    }

    & input[type="checkbox"] + label:active:before {
      transform: scale(0);
    }

    & input[type="checkbox"]:checked + label:before {
      content: url("../images/yes.png");
      color: #fff;
      background: #202020;

      padding: 0px 12px 17px 5px;
    }

    & input[type="checkbox"]:disabled + label:before {
      transform: scale(1);
      border-color: #aaa;
    }

    & input[type="checkbox"]:checked:disabled + label:before {
      transform: scale(1);
      background-color: #bfb;
      border-color: #bfb;
    }
  }
  &-heading {
    padding: 0 0 40px 0;
    &__heading {
      font-size: 24px;
      @include ossemibold;
      text-align: center;
    }
  }
  &-input-group {
    margin: 0 21px 15px 0;
    &__input {
      padding: 8px 146px 7px 10px;
      border: 1px solid #e3e3e3;
      box-sizing: border-box;
      border-radius: 3px;
      @include for-phone-only {
        padding: 8px 121px 7px 10px;
      }
      @media (max-width: 320px) {
        padding: 8px 82px 7px 10px;
      }
    }
  }
  &-btn {
    display: flex;
    margin: 30px 0 10px 0;
    justify-content: center;
    &__btn {
      background: url("../images/request_btn-modal.png") no-repeat;
      width: 190px;
      display: block;
      font-size: 16px;
      color: #fbfbfb;
      display: flex;
      align-items: center;
      justify-content: center;
      @include ossemibold;
      height: 37px;
    }
  }
}

/* Modal Content/Box */
.modal-content {
  background: url("../images/modal__bg.png");
  background-color: #fff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 367px;
  background-position: -27% 26%;
  &__list {
    display: flex;
    flex-direction: column;
    max-height: 283px;
    flex-wrap: wrap;
    @include for-desktop-up() {
      max-height: 111px;
    }
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.section-privacy {
  margin: 0 0 50px 0;
  @include for-phone-only {
    .default-heading-container {
      margin: 49px 0 30px;
    }
  }

  &-content {
    padding: 0 16px 0;
    &-point {
      &__heading {
        font-size: 20px;
        @include ossemibold();
      }
      &__text {
        @include osregular();
        font-size: 16px;
      }
      &__item {
        font-size: 16px;
        @include osregular();
      }
    }
  }
}
input[type="checkbox"] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "";
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  border-radius: 2px;
  display: inline-block;
  width: 20px;
  height: 14px;
  padding: 0px 12px 17px 5px;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  background: #fff;
  transition: 0.2s;
}

input[type="checkbox"] + label:active:before {
  transform: scale(0);
}

input[type="checkbox"]:checked + label:before {
  content: url("../images/yes.png");
  color: #fff;
  padding: 0px 12px 17px 5px;
  background: #202020;
}

input[type="checkbox"]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type="checkbox"]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}
