.section-questions {
  &-inner {
    @include inner;
  }

  padding: 180px 0;
  &-form {
    display: flex;
    @include sm {
      flex-direction: column;
    }
    @include md {
      flex-direction: column;
    }
    &__input {
      margin: 0 30px 0 0;
      @include sm {
        margin: 10px 0 0 0;
      }
      @include md {
        margin: 10px 0;
      }
    }
    &__paragraph {
      color: $white;
      font-size: 13px;
      margin: 0 30px 0 0;
    }
  }
  &-container {
    display: flex;
    justify-content: center;
  }
}
